### Automatic HTTP to HTTPS redirect 
### Code taken from: 
### https://pixelbar.be/blog/htaccess-schnippsel-https-erzwingen/
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
